sudo nano /etc/nginx/sites-available/psilocybin.e-granary.com

server {
    listen 80;
    listen [::]:80;

    root /var/www/html/psilocybin/current/public;
    index index.php index.html index.htm index.nginx-debian.html;

    server_name psilocybin.e-granary.com;

    location / {
            try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
            include snippets/fastcgi-php.conf;

            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_param DOCUMENT_ROOT $realpath_root;

            fastcgi_pass 127.0.0.1:9000; # Updated to match www.conf

    }

    location ~ /\.ht {
            deny all;
    }
}

sudo ln -s /etc/nginx/sites-available/psilocybin.e-granary.com  /etc/nginx/sites-enabled/

sudo nginx -t
sudo systemctl restart nginx

sudo apt install certbot python3-certbot-nginx -y
sudo certbot --nginx -d psilocybin.e-granary.com

crontab -e

* * * * * cd /var/www/html/psilocybin/current && /usr/bin/php8.4 artisan schedule:run >> /dev/null 2>&1